img{
	margin-top:15px;
}
body{
	background-color: beige;
}
#centerImage{
	text-align:center;
}
p{
	text-align:center;
	font-size:26px;
	width:800px;
	height:24px;
	border-bottom: solid aqua 2px;
	margin-top:4px;
	margin-left: auto;
	margin-right: auto;
	font-family: times;
}
#centerP{
	line-height: 24px;
}
#text{
	margin-top: -8px;
	font-size:15px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	line-height: 14px;
}
span{
	color:#FF2200;
	font-weight: bold;
}